.container{
    background-color: black;
    &__col-6{
        &_h1{
            font-size: 60px;
            color: aqua;
        }
        &_img{
            animation-name: cambios;
            animation-duration: 5s;
        }
        
    }
    &_col-12{
        &_ul:hover{
            display: inline-block;
            color:pink;
        }
        &_li{
            list-style-type: none;
            text-decoration: none;
            font-size: 25px;
            display: inline-block;
            margin-top: 60px;
            padding: 30px;
            font-family:Georgia, 'Times New Roman', Times, serif
        }
        &_a{
            color: aqua;
        }
    }
    @keyframes cambios{
        0%{
            transform: scale(0);
        }
        25%{
            transform: scale(0.3);
        }
        50%{
            transform: scale(0.7);
        }
        75%{
            transform: scale(1);
        }
        
        }
}
